Client/Connected Services/LigaServiceReference/LigaService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBettor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Bettor" nillable="true" type="tns:Bettor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBettor" nillable="true" type="tns:ArrayOfBettor" />
  <xs:complexType name="Bettor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bets" nillable="true" type="tns:ArrayOfBet" />
      <xs:element minOccurs="0" name="Firstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Lastname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bettor" nillable="true" type="tns:Bettor" />
  <xs:complexType name="ArrayOfBet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Bet" nillable="true" type="tns:Bet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBet" nillable="true" type="tns:ArrayOfBet" />
  <xs:complexType name="Bet">
    <xs:sequence>
      <xs:element minOccurs="0" name="AwayTeamScore" type="xs:int" />
      <xs:element minOccurs="0" name="Bettor" nillable="true" type="tns:Bettor" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GetDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HomeTeamScore" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Match" nillable="true" type="tns:Match" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bet" nillable="true" type="tns:Bet" />
  <xs:complexType name="Match">
    <xs:sequence>
      <xs:element minOccurs="0" name="AwayTeam" nillable="true" type="tns:Team" />
      <xs:element minOccurs="0" name="AwayTeamScore" type="xs:int" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GetDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HomeTeam" nillable="true" type="tns:Team" />
      <xs:element minOccurs="0" name="HomeTeamScore" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="MatchDay" type="xs:int" />
      <xs:element minOccurs="0" name="Season" nillable="true" type="tns:Season" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Match" nillable="true" type="tns:Match" />
  <xs:complexType name="Team">
    <xs:sequence>
      <xs:element minOccurs="0" name="AwayMatches" nillable="true" type="tns:ArrayOfMatch" />
      <xs:element minOccurs="0" name="HomeMatches" nillable="true" type="tns:ArrayOfMatch" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Team" nillable="true" type="tns:Team" />
  <xs:complexType name="ArrayOfMatch">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Match" nillable="true" type="tns:Match" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMatch" nillable="true" type="tns:ArrayOfMatch" />
  <xs:complexType name="Season">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Matches" nillable="true" type="tns:ArrayOfMatch" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sequence" type="xs:int" />
      <xs:element minOccurs="0" name="TeamRelations" nillable="true" type="tns:ArrayOfSeasonsToTeamsRelation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Season" nillable="true" type="tns:Season" />
  <xs:complexType name="ArrayOfSeasonsToTeamsRelation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SeasonsToTeamsRelation" nillable="true" type="tns:SeasonsToTeamsRelation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSeasonsToTeamsRelation" nillable="true" type="tns:ArrayOfSeasonsToTeamsRelation" />
  <xs:complexType name="SeasonsToTeamsRelation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Season" nillable="true" type="tns:Season" />
      <xs:element minOccurs="0" name="Team" nillable="true" type="tns:Team" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SeasonsToTeamsRelation" nillable="true" type="tns:SeasonsToTeamsRelation" />
  <xs:complexType name="ArrayOfTeam">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Team" nillable="true" type="tns:Team" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTeam" nillable="true" type="tns:ArrayOfTeam" />
  <xs:complexType name="ArrayOfSeason">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Season" nillable="true" type="tns:Season" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSeason" nillable="true" type="tns:ArrayOfSeason" />
</xs:schema>