Client/Connected Services/LigaServiceReference/LigaService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/LigaService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Server.WcfModels" />
  <xs:element name="Test">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Test" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBettors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBettorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Server.WcfModels" minOccurs="0" name="GetAllBettorsResult" nillable="true" type="q1:ArrayOfWcfBettor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBettorById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBettorByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Server.WcfModels" minOccurs="0" name="GetBettorByIdResult" nillable="true" type="q2:WcfBettor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBettor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Server.WcfModels" minOccurs="0" name="bettor" nillable="true" type="q3:WcfBettor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBettorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditBettor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Server.WcfModels" minOccurs="0" name="bettor" nillable="true" type="q4:WcfBettor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditBettorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBettor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Server.WcfModels" minOccurs="0" name="bettor" nillable="true" type="q5:WcfBettor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBettorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTeams">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTeamsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Server.WcfModels" minOccurs="0" name="GetAllTeamsResult" nillable="true" type="q6:ArrayOfWcfTeam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeams">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Server.WcfModels" minOccurs="0" name="season" nillable="true" type="q7:WcfSeason" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Server.WcfModels" minOccurs="0" name="GetTeamsResult" nillable="true" type="q8:ArrayOfWcfTeam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Server.WcfModels" minOccurs="0" name="GetTeamByIdResult" nillable="true" type="q9:WcfTeam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTeam">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Server.WcfModels" minOccurs="0" name="team" nillable="true" type="q10:WcfTeam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTeamResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTeam">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Server.WcfModels" minOccurs="0" name="team" nillable="true" type="q11:WcfTeam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTeamResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTeam">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Server.WcfModels" minOccurs="0" name="team" nillable="true" type="q12:WcfTeam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTeamResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTeamToSeason">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Server.WcfModels" minOccurs="0" name="team" nillable="true" type="q13:WcfTeam" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Server.WcfModels" minOccurs="0" name="season" nillable="true" type="q14:WcfSeason" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTeamToSeasonResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTeamFromSeason">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Server.WcfModels" minOccurs="0" name="team" nillable="true" type="q15:WcfTeam" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Server.WcfModels" minOccurs="0" name="season" nillable="true" type="q16:WcfSeason" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTeamFromSeasonResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMatches">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMatchesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Server.WcfModels" minOccurs="0" name="GetAllMatchesResult" nillable="true" type="q17:ArrayOfWcfMatch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMatches">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Server.WcfModels" minOccurs="0" name="season" nillable="true" type="q18:WcfSeason" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMatchesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Server.WcfModels" minOccurs="0" name="GetMatchesResult" nillable="true" type="q19:ArrayOfWcfMatch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMatchById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMatchByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Server.WcfModels" minOccurs="0" name="GetMatchByIdResult" nillable="true" type="q20:WcfMatch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Server.WcfModels" minOccurs="0" name="match" nillable="true" type="q21:WcfMatch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMatchResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditMatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Server.WcfModels" minOccurs="0" name="match" nillable="true" type="q22:WcfMatch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditMatchResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Server.WcfModels" minOccurs="0" name="match" nillable="true" type="q23:WcfMatch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMatchResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateMatches">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Server.WcfModels" minOccurs="0" name="season" nillable="true" type="q24:WcfSeason" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateMatchesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSeasons">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSeasonsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Server.WcfModels" minOccurs="0" name="GetAllSeasonsResult" nillable="true" type="q25:ArrayOfWcfSeason" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeasonById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeasonByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Server.WcfModels" minOccurs="0" name="GetSeasonByIdResult" nillable="true" type="q26:WcfSeason" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSeason">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Server.WcfModels" minOccurs="0" name="season" nillable="true" type="q27:WcfSeason" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSeasonResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditSeason">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Server.WcfModels" minOccurs="0" name="season" nillable="true" type="q28:WcfSeason" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditSeasonResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSeason">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Server.WcfModels" minOccurs="0" name="season" nillable="true" type="q29:WcfSeason" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSeasonResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBets">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Server.WcfModels" minOccurs="0" name="GetAllBetsResult" nillable="true" type="q30:ArrayOfWcfBet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBets">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Server.WcfModels" minOccurs="0" name="bettor" nillable="true" type="q31:WcfBettor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Server.WcfModels" minOccurs="0" name="GetBetsResult" nillable="true" type="q32:ArrayOfWcfBet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBetById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBetByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Server.WcfModels" minOccurs="0" name="GetBetByIdResult" nillable="true" type="q33:WcfBet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Server.WcfModels" minOccurs="0" name="bet" nillable="true" type="q34:WcfBet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBetResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditBet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Server.WcfModels" minOccurs="0" name="bet" nillable="true" type="q35:WcfBet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditBetResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Server.WcfModels" minOccurs="0" name="bet" nillable="true" type="q36:WcfBet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBetResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRelations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRelationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Server.WcfModels" minOccurs="0" name="GetAllRelationsResult" nillable="true" type="q37:ArrayOfWcfRelation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelationsByTeam">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Server.WcfModels" minOccurs="0" name="team" nillable="true" type="q38:WcfTeam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelationsByTeamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Server.WcfModels" minOccurs="0" name="GetRelationsByTeamResult" nillable="true" type="q39:ArrayOfWcfRelation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelationsBySeason">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Server.WcfModels" minOccurs="0" name="season" nillable="true" type="q40:WcfSeason" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelationsBySeasonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Server.WcfModels" minOccurs="0" name="GetRelationsBySeasonResult" nillable="true" type="q41:ArrayOfWcfRelation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRelation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Server.WcfModels" minOccurs="0" name="relation" nillable="true" type="q42:WcfRelation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRelationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>