TippspielClient/Connected Services/LigaServiceReference/LigaService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server.WcfModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server.WcfModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfWcfBettor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WcfBettor" nillable="true" type="tns:WcfBettor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWcfBettor" nillable="true" type="tns:ArrayOfWcfBettor" />
  <xs:complexType name="WcfBettor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Firstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Lastname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Points" type="xs:int" />
      <xs:element minOccurs="0" name="Rank" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WcfBettor" nillable="true" type="tns:WcfBettor" />
  <xs:complexType name="ArrayOfWcfTeam">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WcfTeam" nillable="true" type="tns:WcfTeam" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWcfTeam" nillable="true" type="tns:ArrayOfWcfTeam" />
  <xs:complexType name="WcfTeam">
    <xs:sequence>
      <xs:element minOccurs="0" name="Defeats" type="xs:int" />
      <xs:element minOccurs="0" name="Draws" type="xs:int" />
      <xs:element minOccurs="0" name="GoalsDifference" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberOfGames" type="xs:int" />
      <xs:element minOccurs="0" name="Points" type="xs:int" />
      <xs:element minOccurs="0" name="Rank" type="xs:int" />
      <xs:element minOccurs="0" name="Wins" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WcfTeam" nillable="true" type="tns:WcfTeam" />
  <xs:complexType name="WcfSeason">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sequence" type="xs:int" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WcfSeason" nillable="true" type="tns:WcfSeason" />
  <xs:complexType name="ArrayOfWcfMatch">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WcfMatch" nillable="true" type="tns:WcfMatch" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWcfMatch" nillable="true" type="tns:ArrayOfWcfMatch" />
  <xs:complexType name="WcfMatch">
    <xs:sequence>
      <xs:element minOccurs="0" name="AwayTeamId" type="xs:int" />
      <xs:element minOccurs="0" name="AwayTeamName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AwayTeamScore" type="xs:int" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HomeTeamId" type="xs:int" />
      <xs:element minOccurs="0" name="HomeTeamName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HomeTeamScore" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="MatchDay" type="xs:int" />
      <xs:element minOccurs="0" name="SeasonId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WcfMatch" nillable="true" type="tns:WcfMatch" />
  <xs:complexType name="ArrayOfWcfSeason">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WcfSeason" nillable="true" type="tns:WcfSeason" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWcfSeason" nillable="true" type="tns:ArrayOfWcfSeason" />
  <xs:complexType name="ArrayOfWcfBet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WcfBet" nillable="true" type="tns:WcfBet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWcfBet" nillable="true" type="tns:ArrayOfWcfBet" />
  <xs:complexType name="WcfBet">
    <xs:sequence>
      <xs:element minOccurs="0" name="AwayTeamScore" type="xs:int" />
      <xs:element minOccurs="0" name="BettorId" type="xs:int" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HomeTeamScore" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="MatchId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WcfBet" nillable="true" type="tns:WcfBet" />
  <xs:complexType name="ArrayOfWcfRelation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WcfRelation" nillable="true" type="tns:WcfRelation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWcfRelation" nillable="true" type="tns:ArrayOfWcfRelation" />
  <xs:complexType name="WcfRelation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="SeasonId" type="xs:int" />
      <xs:element minOccurs="0" name="TeamId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WcfRelation" nillable="true" type="tns:WcfRelation" />
</xs:schema>